# Github's Standard C++ ignore list
#
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Specific GENIE directories
bin/*
config/*
data/*
lib/*
src/*
.svn/*
AUTHORS
CITATION
LICENSE
VERSION
build-env.log
configure
configure-genie
Makefile
setup-genie


